//
.team {
   // background-color: $bg-second-color;
   background-color: var(--bg-second-color);
}

.team__list {
   // display: flex;
   // flex-wrap: wrap;
   // //    justify-content: space-between;
   // margin-top: 20px;
   // margin-left: -30px;
}

.team-list__item {
   // flex-basis: calc(100% / 4 - 30px);
   // margin-left: 30px;
   // margin-top: 30px;

   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

   border-radius: 0px 0px 4px 4px;
}

.member__dscr {
   padding: 30px 32px;
   text-align: center;
}

.member__title {
   font-size: 16px;

   font-weight: 500;
   line-height: normal;

   letter-spacing: 0.48px;
}

.member__txt {
   margin-top: 10px;

   font-size: 16px;
   line-height: normal;
   letter-spacing: 0.48px;
}

.member__social-box {
   display: flex;
   margin-top: 16px;
}
