.header {
   //     position: fixed;

   border-bottom: 2px solid #ececec;
   //    z-index: 2;
   //    width: 100%;
   //    top: 0;
   //    left: 0;
}

.header__wrapper {
   @media screen and (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
   }

   @media screen and (min-width: 768px) {
      @include flexFull();
   }
}
