.header {
   position: relative;

   //     position: fixed;

   border-bottom: 2px solid #ececec;
   //    z-index: 2;
   //    width: 100%;
   //    top: 0;
   //    left: 0;
}

.header__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   @media screen and (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
   }

   @media screen and (min-width: 768px) {
      @include flexFull();
   }
}

.mobile-menu {
   display: none;

   @media screen and (min-width: 768px) {
      @include flexFull();
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
   }
}

.menu-btn {
   display: inline-flex;
   padding: 0;
   margin: 0;
   border: none;

   &:hover {
      cursor: pointer;
   }

   // ====== отображение иконок =====
   & .icon-cross {
      display: none;
   }
   &.is-open .icon-cross {
      display: block;
   }
   &.is-open .icon-menu {
      display: none;
   }
   // ============

   background-color: transparent;
   @media screen and (min-width: 768px) {
      display: none;
   }
}

.menu-container {
   position: absolute;
   display: none;
   top: 100%;
   left: 0;
   width: 100%;

   &.is-open {
      display: block;
   }

   @media screen and (min-width: 768px) {
      display: none;
   }
   background-color: beige;
}
