.header {
   position: relative;

   border-bottom: 2px solid #ececec;
}

.header__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;

   @media screen and (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
   }

   @media screen and (min-width: 768px) {
      @include flexFull();
   }
}

.menu-btn {
   display: inline-flex;
   padding: 0;
   margin: 0;
   border: none;

   background-color: transparent;

   &:hover {
      cursor: pointer;
   }
   z-index: 6;

   // ====== отображение иконок =====
   & .icon-cross {
      display: none;
   }
   &.is-open .icon-cross {
      display: block;
   }
   &.is-open .icon-menu {
      display: none;
   }

   @media screen and (min-width: 768px) {
      display: none;
   }
}

.menu-container {
   display: none;

   &.is-open {
      @media screen and (max-width: 767px) {
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         position: absolute;
         top: 0;
         left: 0;
         z-index: 5;
         width: 100%;
         height: 796px;
         padding-top: 48px;
         padding-left: 40px;
         padding-bottom: 48px;
      }
   }

   @media screen and (min-width: 768px) {
      display: flex;
      margin-left: 88px;

      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
   }

   background-color: beige;
}
