//
.title {
   font-weight: 700;
   color: #212121;
}

.section-title {
   // ==> mobile

   text-align: center;

   font-size: 28px;

   line-height: normal;
   letter-spacing: 0.84px;

   // =============
   // tablet ==>

   // ==> desc
   // font-size: 36px;
   // line-height: 1.17;
}
